:root {
		--button-color: rgb(241, 233, 218);
		--button-highlight: rgb(140, 240, 127);
		--background-color: rgb(55, 99, 147);
		--game-background-color: rgb(91, 141, 194);
		--snake-color: rgb(43, 192, 22);
		--apple-color: rgb(140, 85, 178);
}

colors {
		--button-color: #b6b78d;
		--button-highlight: #CBD578;
		--background-color: #CCB9AE;
		--game-background-color: #E0CDC3;
		--snake-color: #6B8E23;
		--apple-color: #fc8353;
}

html {
		background-color: var(--background-color);
}

#main-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--background-color);
		
}

#score-counter {
		margin-left: 8px;
}

#game-container {
		display: grid;
		flex-direction: column;
		gap: 1px;
		background-color: var(--game-background-color);
}
.cell {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 10px;
		width: 20px;
		height: 20px;
		background-color: var(--game-background-color);
}

.inline {
		display: flex;
		justify-content: center;
		align-items: center;
}

#start-button {
		margin: 10px;
}

button.settings-menu {
		margin-bottom: 4px;
		border: none;
		width: 70px;
		height: 20px;
}

.settings-menu {
		display: flex;
}

button {
		background-color: var(--button-color);
		transition: background-color 0.3s ease;
		border: none;
}

button.settings-menu {
		justify-content: center;
		margin-bottom: 4px;
		margin-right: 4px;
		width: 70px;
		height: 20px;
}

button:hover {
		filter: brightness(85%);
}

.overlay-container {
		position: relative;
}

.text-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		
}

.text-overlay h2 {
		margin: 0;
		font-size: 90px;
}

.hidden {
		display: none;
}

#options {
		background-color: transparent;
		width: 30px;
		height: 30px;
		font-size: 20px;
}

.container {
		display: flex;
		align-items: center;
		
}

div.settings-menu {
		opacity: 1;
    visibility: visible;
    height: 80px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.settings-menu.fade-hide {
		opacity: 0;
		height: 0;
}


